/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f7f6;
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

main {
    padding: 0px;
    max-width: 1900px;
    width: 100%;
    text-align: center;
    flex: 1;
    margin: 0 auto;
}

/* HEADER */
header {
    background-color: #3aafa9;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
}

header h1 {
    font-size: 24px;
}

header nav a,
header nav .logout-link {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    font-family: inherit;
}

header nav a:hover,
header nav .logout-link:hover {
    color: #2b7a78;
}

/*IMAGENES PORTADA*/
.image-container {
    overflow: hidden;
}

.slide-in-left {
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.slide-in-left.active {
    transform: translateX(0);
    opacity: 1;
}

.slide-in-right {
    transform: translateX(100%);
    opacity: 0;
    transition: transform 3s ease-in-out, opacity 3s ease-in-out;
}

.slide-in-right.active {
    transform: translateX(0);
    opacity: 1;
}


/*SLIDER*/
.slider {
    width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.slides {
    display: flex;
    width: 500%;
    transition: transform 0.5s ease;
}

.slide {
    width: 20%;
    flex-shrink: 0;
}

.slide img {
    width: 100%;
    display: block;
}

.navigation-manual {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.manual-btn {
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 10px;
}

.manual-btn:hover {
    background: #40D3DC;
}

#radio1:checked~.slides {
    transform: translateX(0%);
}

#radio2:checked~.slides {
    transform: translateX(-20%);
}

#radio3:checked~.slides {
    transform: translateX(-40%);
}

#radio4:checked~.slides {
    transform: translateX(-60%);
}

#radio5:checked~.slides {
    transform: translateX(-80%);
}


/* FORMULARIOS */
.form_container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1600px;
    margin: 20px auto;
    text-align: left;
}

.form_container_large {
    max-width: 1600px;
    padding: 20px;
}

.form_container_large h2 {
    text-align: center;
    margin-bottom: 20px;
}

.search-form {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
    flex-wrap: nowrap;
    justify-content: center;
}

.search-form input {
    flex: 1;
    max-width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.search-form button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3aafa9;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    flex-shrink: 0;
    transition: background-color 0.3s ease;
}

.search-form button:hover {
    background-color: #2b7a78;
}

/* TABLAS */
table.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

table.styled-table tbody tr.clase-sin-monitor {
    background-color: #ffe6e6 !important;
    color: #d9534f;
}

table.styled-table thead tr {
    background-color: #3aafa9;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

table.styled-table th,
table.styled-table td {
    padding: 12px 20px;
    text-align: center;
}

.styled-table tbody tr:nth-child(even) {
    background-color: #f0f0f0;
}

.styled-table tbody tr:hover {
    background-color: #e0e0e0;
}

table.styled-table th.sortable {
    cursor: pointer;
    position: relative;
}

table.styled-table th.sortable:after {
    content: "\25B2";
    position: absolute;
    right: 10px;
    font-size: 12px;
    color: #fff;
    opacity: 0.6;
    transform: rotate(180deg);
}

table.styled-table th.sortable.sorted-asc:after {
    transform: rotate(0);
    opacity: 1;
}

table.styled-table th.sortable.sorted-desc:after {
    transform: rotate(180deg);
    opacity: 1;
}

/* BOTONES */
/* Contenedor de botones */
.acciones .button-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: stretch;
}

/* Botones */
.button-container button {
    flex: 1;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #a34d4d;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #7e2323;
}

.edit-button {
    background-color: #3aafa9;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.edit-button:hover {
    background-color: #2b7a78;
}

.btn-general {
    display: inline-block;
    width: auto;
    padding: 10px 15px;
    background-color: #3aafa9;
    color: #fff;
    font-size: 16px;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-general:hover {
    background-color: #2b7a78;
}

.button-container {
    margin: 20px 0;
    text-align: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3aafa9;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #2b7a78;
}

/* NOTIFICACIONES */
.notificacion-nueva {
    background-color: #d4edda;
    /* Verde claro */
    font-weight: bold;
}

.notificacion-leida {
    background-color: #f8f9fa;
    /* Gris claro */
    font-weight: normal;
}

/* MENSAJES */
.success-message {
    color: green;
    font-weight: bold;
    margin: 10px 0;
}

.mensaje-error {
    color: #e74c3c;
    font-weight: bold;
    background-color: #fbeaea;
    padding: 10px;
    border-radius: 5px;
    margin: 15px 0;
}

.mensaje-confirmacion {
    color: #27ae60;
    font-weight: bold;
    background-color: #eafaf1;
    padding: 10px;
    border-radius: 5px;
    margin: 15px 0;
}

/* Clases Disponibles */
.clases-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /* Mínimo 300px por columna */
    gap: 20px;
    /* Espacio entre las tarjetas */
    margin-top: 20px;
}

.clase-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
}

.clase-image {
    width: 100%;
    height: auto;
    /* Mantener proporciones */
    max-height: 200px;
    /* Limitar altura máxima */
    object-fit: cover;
    /* Ajustar la imagen al contenedor */
    border-radius: 5px;
    margin-bottom: 10px;
}

.clase-benefits {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
    text-align: left;
}

.clase-benefits li {
    margin-bottom: 5px;
}

/* Estilo para clases sin monitor asignado o no disponible */
.clase-sin-monitor {
    background-color: #ffe6e6;
    /* Fondo rojo claro */
    color: #d9534f;
    /* Texto rojo */
}

.texto-advertencia {
    font-size: 0.9em;
    color: #d9534f;
    /* Rojo */
    font-style: italic;
}

.intro-text {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.membresia-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /* Adaptable a espacio disponible */
    gap: 20px;
    /* Espacio entre tarjetas */
    margin-top: 20px;
}

.membresia-card {
    background-color: #eee69b;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: 500px;
    text-align: center;
    overflow: hidden;
}

.membresia-card h2 {
    margin: 0 0 10px;
    font-size: 1.5em;
}

.membresia-card p {
    margin: 0 0 10px;
    font-size: 1em;
}

.membresia-card ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 5px;
    background-color: white;
}


.membresia-card ul li {
    margin-bottom: 5px;
    font-size: 0.9em;
}

.membresia-card form {
    margin-top: auto;
    /* Coloca el formulario en la parte inferior */
    align-self: end;
}

.membresia-card select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.membresia-card button {
    padding: 10px;
    background-color: #3aafa9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.membresia-card button:hover {
    background-color: #2b7a78;
}

/* Cuadros de texto y contraseñas */
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
input[type="time"],
select {
    width: 100%;
    /* Ajusta el ancho completo del contenedor */
    padding: 10px;
    /* Incrementa el padding para mayor altura */
    margin-bottom: 15px;
    /* Espaciado entre cada campo */
    border: 1px solid #ccc;
    /* Borde de color suave */
    border-radius: 8px;
    /* Bordes redondeados */
    font-size: 16px;
    /* Tamaño de fuente más grande */
    box-sizing: border-box;
    /* Incluye padding en el cálculo del ancho */
}

/* Botones */
button.btn-general {
    padding: 12px 20px;
    /* Tamaño más grande para mayor clicabilidad */
    font-size: 16px;
    /* Fuente más grande */
    border-radius: 8px;
    /* Botón redondeado */
}

/* Listas de especialidades */
.especialidades-lista {
    list-style: none;
    /* Quita los bullets */
    padding: 0;
    /* Elimina el padding de la lista */
    margin-bottom: 15px;
    /* Espaciado inferior */
}

.especialidades-lista li {
    padding: 5px 0;
    /* Espaciado interno */
    border-bottom: 1px solid #ddd;
    /* Línea divisoria */
}

.btn-disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
    border: 1px solid #999;
    border-radius: 8px;
    opacity: 0.7;
}

.btn-disabled:hover {
    background-color: #ccc;
    color: #666;
    border: 1px solid #999;
    border-radius: 8px;
    opacity: 0.7;
}

.membresias-lista {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.membresia-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.membresia-section {
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
}

.membresia-section.sombreado {
    background-color: #f1faff;
}

.entrenamientos-lista {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.entrenamientos-lista li {
    margin-bottom: 5px;
    font-size: 0.9em;
}

.membresia-botones {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.mensaje-inscrito {
    color: green;
    font-weight: bold;
}

.mensaje-completa {
    color: red;
    font-weight: bold;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    max-width: 500px;
    width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cancel-button {
    background-color: #ccc;
    color: #333;
}

.cancel-button:hover {
    background-color: #999;
}




/* RESPONSIVE */
@media (max-width: 768px) {
    .menu {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu>li {
        width: 100%;
    }

    .submenu {
        position: static;
    }
}

@media (max-width: 600px) {
    header h1 {
        font-size: 20px;
    }

    .form_container,
    button,
    .button-container a,
    .button-container button {
        font-size: 14px;
        padding: 8px 16px;
    }
}